body {
  padding: 0;
  margin: 0;
  max-width: 100%;
  height: 100vh;
  font-family: "Lato", sans-serif;
}

/* header */

.header {
  background-image: url(images/background3-2.webp);
  background-position: center center;
  background-size: cover;
  overflow-x: hidden;
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 1);
  height: 720px;
  width: 100%;
  max-width: 100%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  padding: 20px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
}

header nav ul {
  list-style: none;
  display: flex;
}

.content {
  margin: 0 auto;
  letter-spacing: 1px;
}

.logo {
  width: 166px;
  height: 100px;
  padding: 20px 30px;
}

.social-media-list {
  list-style: none;
  display: flex;
  padding: 20px;
}

.social-media-list a {
  margin: 0 10px;
}

.caption {
  font-size: 44px;
  line-height: 20px;
  font-weight: 700;
}

.caption-sub {
  font-size: 26px;
  line-height: 36px;
  font-weight: 300;
  width: 75%;
}

.header-caption {
  margin-left: 45%;
  margin-top: 15%;
}

.content {
  color: #404040;
}

/* specialties section */

.section-specialties {
  background-color: #f7eff1;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title-specialties {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 10px;
  font-size: 15px;
}

.description-specialties {
  width: 750px;
  font-size: 24px;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 40px;
}

.figure-specialties {
  max-width: 350px;
  height: 325px;
  background-color: white;
  margin: 15px 15px 100px 15px;
}

.figure-specialties img {
  max-width: 100%;
  border-radius: 4px;
  height: auto;
}

.gallery-specialties {
  display: flex;
}

figure figcaption {
  text-align: center;
  margin-top: 25px;
  font-weight: 700;
}

/* my featured work section */

.section-featured {
  background-color: rgb(246, 247, 250);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title-featured {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 10px;
  font-size: 15px;
}

.description-featured {
  width: 500px;
  font-size: 24px;
  text-align: center;
  line-height: 1.5;
}

/* gallery */

.gallery-featured {
  columns: 3 200px;
  column-gap: 1.5rem;
  width: 75%;
  margin: 100px auto;
  gap: 20px;
  max-width: 1200px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 18px;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
  display: block;
}

.gallery-item:hover::before {
  opacity: 1;
  border-radius: 4px;
}

.gallery-item::before {
  content: "";
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* work with me */

.section-work-with-me {
  background-color: #f7eff1;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title-work-with-me {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 10px;
  font-size: 15px;
}

.description-work-with-me {
  width: 800px;
  font-size: 24px;
  text-align: center;
  line-height: 1.5;
}

/* footer */

.footer {
  background-color: rgb(246, 247, 250);
  color: #404040;
  text-align: center;
  height: auto;
}

.footer-content {
  columns: 3 200px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

.footer-title {
  margin-top: 50px;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 700;
}

.footer-description {
  width: 100%;
  padding: 0;
  margin: 0;
  line-height: 2;
}

.footer-social-media-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.footer-social-media-list a {
  padding: 0 10px;
}

.footer-item {
  width: 325px;
}

.footer-copyright {
  margin: 0;
  padding: 20px 0 50px 0;
  height: auto;
}
