/* for mobile (portrait) ---> */

@media (max-width: 414px) {
  .caption {
    font-size: 25px;
    letter-spacing: 0;
  }

  .caption-sub {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 26px;
    width: 225px;
  }

  .header-caption {
    margin-left: 20%;
    margin-top: 55%;
  }

  .description-specialties {
    width: 90%;
  }

  .gallery-featured {
    width: 90%;
  }

  .gallery-specialties {
    display: grid;
    margin: 0 0 100px 0;
  }

  .figure-specialties {
    max-width: 370px;
    margin: 15px 15px 15px 15px;
  }

  .description-featured {
    width: 90%;
  }

  .description-work-with-me {
    width: 90%;
  }

  /* footer ---> */

  .footer {
    letter-spacing: 0;
  }

  .footer-content {
    display: grid;
    padding-top: 30px;
  }

  .footer-title {
    margin-top: 30px;
    height: 15px;
  }

  .footer-copyright {
    padding: 10px 0 50px 0;
  }
}

/* for mobile (landscape) ---> */

@media (max-with: 769px) {
}

/* for tablet (portrait) ---> */

@media (min-width: 768px) and (max-width: 1024px) {
}

/* for tablet (landscape) ---> */

@media (min-width: 1025px) {
}

/* for laptop ---> */

@media (min-width: 1025px) {
}
